build/Android/.gradle
build/Android/.idea
build/Android/app/build
build/Android/datareporter/build
build/Android/datareporter/build/.externalNativeBuild
build/Android/datareporter/build/.cxx
build/Android/local.properties
build/Android/datareporter/bugly
build/Android/datareporter/.cxx
build/iOS/build
sample/Android/.idea
sample/Android/.gradle
sample/Android/app/build
sample/Android/build
*.DS_Store

