build/Android/for_aar/.gradle
build/Android/for_aar/.idea
build/Android/for_aar/app/build
build/Android/for_aar/datareporter/build
build/Android/for_aar/datareporter/build/.externalNativeBuild
build/Android/for_aar/datareporter/build/.cxx
build/Android/for_aar/local.properties
build/Android/for_aar/datareporter/bugly
build/Android/for_aar/datareporter/.cxx
build/Android/for_so/obj
build/iOS/build
sample/Android/.idea
sample/Android/.gradle
sample/Android/app/build
sample/Android/build
*.DS_Store

